.main {
  padding: 0.7rem 0.60rem 0;
}
.main > div:first-child {
  display: flex;
  display: -webkit-flex;
}
.main > div:first-child input:last-child {
  width: 2.20rem;
  color: #a7a7a7;
  padding-top: 0.24rem;
  font-size: 0.3rem;
  border-bottom: 0.02rem solid #dbdbdb;
  -webkit-appearance:none;
  -moz-appearance:none;
}
.regist-input {
  padding: 0.24rem 0.05rem 0 0.1rem;
  font-size: 0.3rem;
  line-height: 0.3rem;
  height: 1rem;
  width: 100%;
  border-bottom: 0.02rem solid #dbdbdb;
  box-sizing: border-box;
}
.regist-div {
  padding: 0.24rem 0.05rem 0 0.1rem;
  font-size: 0.3rem;
  line-height: 1rem;
  width: 100%;
  border-bottom: 0.02rem solid #dbdbdb;
}
.regist-input:focus {
  border-bottom: 0.04rem solid rgb(3, 169, 245);
  outline: none;
  box-shadow: none;
}
.regist-input::-webkit-input-placeholder {
  color: #dbdbdb;
  font-size: 0.3rem;
  line-height: 0.3rem;
}
.main input[type=checkbox] {
  display: none;
}
.main > button {
  display: block;
  width: 100%;
  color: #fff;
  background-color: #2d85f4;
  line-height: 0.9rem;
  border-radius: 0.44rem;
  font-size: 0.3rem;
}
.main .accept_regist {
  display: flex;
  display: -webkit-flex;
  margin: 0.40rem 0 0 0;
  padding: 0 0.06rem;
  border-bottom: none;
}
.accept_regist div {
  width: 0.60rem;
  padding-top: 0.06rem;
}
.accept_regist div::after {
  content: "";
  display: block;
  border: 0.02rem solid #dfe3ed;
  background-color: #dfe3ed;
  color: #2d85f4;
  font-size: 0.28rem;
  text-align: center;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.08rem;
}
.accept_regist p {
  font-size: 0.24rem;
  line-height: 0.40rem;
  padding: 0 0.36rem 0.72rem 0;
  color: #c4c4c4;
}
.main input[type=checkbox]:checked + label > div::after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTQzOTc1Njg3NjI0IiBjbGFzcz0iaWNvbiIgc3R5bGU9IiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjIzNDIiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48L3N0eWxlPjwvZGVmcz48cGF0aCBkPSJNMzYwLjMgODY3LjRMMTAuMyA0ODVjLTEzLjQtMTQuNi0xMi4zLTM3LjIgMi4zLTUwLjVsMzAuNi0yNy45YzE0LjYtMTMuMyAzNy4zLTEyLjMgNTAuNiAyLjNsMjg1LjQgMzExLjhjNC43IDUuMSAxMi43IDUuMiAxNy41IDAuMkw5MzIgMTU4YzEzLjYtMTQuMyAzNi4zLTE0LjkgNTAuNy0xLjNsMzAuMSAyOC41YzE0LjQgMTMuNiAxNC45IDM2LjIgMS4zIDUwLjZMNDEyLjggODY3LjljLTE0LjMgMTUuMS0zOC40IDE0LjgtNTIuNS0wLjV6IiBwLWlkPSIyMzQzIiBmaWxsPSIjMmQ4NWY0Ij48L3BhdGg+PC9zdmc+');
  background-repeat: no-repeat;
  -webkit-background-size: 0.3rem auto;
  -moz-background-size: 0.3rem auto;
  -o-background-size: 0.3rem auto;
  background-size: 0.3rem auto;
}