body,html{
  height: 100%;
  background: url('../img/login/loginBg.png') no-repeat center;
  background-size: 100% 100%;
}
.loginRe{
  position: relative;
  left: calc(100%/2 - 3.1rem);
  top: 2.45rem;
  width: 6.2rem;
}
.loginContain{
  width: 6.2rem;
  height: 5.2rem;
  padding: 0.5rem 0.3rem;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: #e2e2e2 0px 0px 200px; 
  -moz-box-shadow: #e2e2e2 0px 0px 200px; 
  box-shadow: #e2e2e2 0px 0px 200px; 
  margin-bottom: 0.55rem;
}
.comLogo{
  width: 1.16rem;
  height: 1.16rem;
  position: absolute;
  right: 0.9rem;
  top: -0.42rem;
}
.loginTit{
  font-weight: 400;
  font-size: 0.5rem;
  padding-left: 0.2rem;
  margin-bottom: 0.4rem;
}
.loginOption{
  display: flex;
  display: -webkit-flex;
  margin-bottom: 0.45rem;
}

.checkInp{
  width: 3.2rem;
  line-height: 1rem;
  padding-left: 0.25rem;
}
/* check */
input[type=checkbox]{
  display: none;
  visibility: hidden;
}
input[type="checkbox"] + label{
    font-size: 16px;
    color: #a1a2a4;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
input[type="checkbox"] + label:before{
    display: inline-block;
    content: "";
    margin-right:0.16rem;
    width: 0.32rem;
    height: 0.32rem;
    background: url('../img/login/checkNo.png') no-repeat center;
    background-size: 100% 100%;
    vertical-align: middle;
}
input[type=checkbox]:checked + label:before{
    background: url('../img/login/checkedIcon.png') no-repeat center;
    background-size: 100% 100%;
}
.loginBtn{
  width: 3rem;
  height: 1.2rem;
  background: url(../img/login/loginBtn.png) no-repeat center;
  background-size: 100% 100%;
  text-align: center;
  font-size: 18px;
  color: #fff;
  line-height: 1rem;
}
.prmotRegister{
  text-align: center;
  color: #9d9d9d;
  font-size: 16px;
  margin-bottom: 1.11rem;
}
.regiaster{
  color:#7684ed ;
}
/* input动画 */
.form-groups{
  margin-bottom: 0.36rem;
}
.forgetPwd{
  text-align: right;
  color:#7684ed ;
  font-size: 14px;
}
.form-group {
  position: relative;
  margin-top: 0.3rem;
}

.form-control {
  display: block;
  height: 1rem;
  width: 100%;
  border: none;
  border-radius: 0 !important;
  font-size: 15px;
  font-family: inherit;
  font-weight: 300;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.15);
}

.form-control:focus {
  border-bottom: 2px solid rgb(3, 169, 245);
  outline: none;
  box-shadow: none;
}

.float-label {
  position: absolute;
  left: 0;
  top: 0.5rem;
  font-size: 15px;
  color:#d8d9d9;
  font-weight: 300;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.form-control:focus ~ .float-label, .form-control:valid ~ .float-label {
  top: -0.15rem;
  font-size: 12px;
  color: #747474;
}

