.personalInfo{
  background-color: #fff;
}
.personalInfo{
  padding: 0.2rem 0 0.4rem 0;
  margin: 15px auto;
  display: flex;
  align-items: center;
}
.headPhoto{
  width: 1.24rem;
  height: 1.2rem;
  margin: 0 0.4rem;
}
.infoCon p{
  line-height: 26px;
}
.comName{
  font-size: 14px;
  color: #444;
}
.userInfo .sp1{
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-right: 10px;
}
.userInfo .sp2{
  font-size: 16px;
  color: #444;
}
.tel{
  color: #838383;
}
.bindWeChat{
  /* height: 0.94rem; */
  background-color: #fff;
  padding: 0.32rem;
  color: #333;
  font-size: 16px;
}
.bindWeChat img{
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 10px;
}
.woPop{
  width: 5.7rem;
  padding: 0.6rem 0.7rem 0.3rem;
  background-color: #fff;
  margin: 0.5rem auto;
  text-align: center;
  color: #333;
  border-radius: 10px;
  display: none;
}
.woPop p{
  margin-bottom:0.4rem ;
}
.btn span{
  display: inline-block;
  width: 2rem;
  height:0.7rem;
  text-align: center;
  line-height:0.7rem;
  background-color: #e1e1e1;
  border-radius: 6px;
}
.btn span.activeBtn{
  background-color: #2d85f4;
  color: #fff;
}

.userName{
  font-size: 24px;
  padding-top: 0.2rem;
  margin-bottom: 0.18rem;
}
.bindWeChat p{
  padding-left: 0.6rem;
  color: #666;
  font-size: 15px;
}