@import "../cssVar/index.css";

.hlj-c-blue1{
  color: $hlj-blue1;
}
.hlj-c-blue2{
  color: $hlj-blue2;
}
.hlj-c-blue3{
  color: $hlj-blue3;
}
.hlj-c-blue4{
  color: $hlj-blue4;
}
.hlj-c-orange1{
  color: $hlj-orange1;
}
.hlj-c-orange2{
  color: $hlj-orange2;
}
.hlj-c-orange3{
  color: $hlj-orange3;
}
.hlj-c-orange4{
  color: $hlj-orange4;
}
.hlj-c-red1{
  color: $hlj-red1;
}
.hlj-c-green1{
  color: $hlj-green1;
}
.hlj-c-green2{
  color: $hlj-green2;
}
.hlj-c-green3{
  color: $hlj-green3;
}
.hlj-c-green4{
  color: $hlj-green4;
}
.hlj-c-black1{
  color: $hlj-black1;
}
.hlj-c-black2{
  color: $hlj-black2;
}
.hlj-c-black3{
  color: $hlj-black3;
}
.hlj-c-gray1{
  color: $hlj-gray1;
}
.hlj-c-gray2{
  color: $hlj-gray2;
}
.hlj-c-gray3{
  color: $hlj-gray3;
}
.hlj-c-gray4{
  color: $hlj-gray4;
}
.hlj-c-gray5{
  color: $hlj-gray5;
}
.hlj-c-purple1{
  color: $hlj-purple1;
}
.hlj-c-light1{
  color: $hlj-light1;
}
.hlj-c-light2{
  color: $hlj-light2;
}
.hlj-c-light3{
  color: $hlj-light3;
}
/*背景色*/
.hlj-bg-blue1{
  background-color: $hlj-blue1;
}
.hlj-bg-blue2{
  background-color: $hlj-blue2;
}
.hlj-bg-blue3{
  background-color: $hlj-blue3;
}
.hlj-bg-blue4{
  background-color: $hlj-blue4;
}
.hlj-bg-orange1{
  background-color: $hlj-orange1;
}
.hlj-bg-orange2{
  background-color: $hlj-orange2;
}
.hlj-bg-orange3{
  background-color: $hlj-orange3;
}
.hlj-bg-orange4{
  background-color: $hlj-orange4;
}
.hlj-bg-red1{
  background-color: $hlj-red1;
}
.hlj-bg-green1{
  background-color: $hlj-green1;
}
.hlj-bg-green2{
  background-color: $hlj-green2;
}
.hlj-bg-green3{
  background-color: $hlj-green3;
}
.hlj-bg-green4{
  background-color: $hlj-green4;
}
.hlj-bg-black1{
  background-color: $hlj-black1;
}
.hlj-bg-black2{
  background-color: $hlj-black2;
}
.hlj-bg-black3{
  background-color: $hlj-black3;
}
.hlj-bg-gray1{
  background-color: $hlj-gray1;
}
.hlj-bg-gray2{
  background-color: $hlj-gray2;
}
.hlj-bg-gray3{
  background-color: $hlj-gray3;
}
.hlj-bg-gray4{
  background-color: $hlj-gray4;
}
.hlj-bg-gray5{
  background-color: $hlj-gray5;
}
.hlj-bg-purple1{
  background-color: $hlj-purple1;
}
.hlj-bg-light1{
  background-color: $hlj-light1;
}
.hlj-bg-light2{
  background-color: $hlj-light2;
}
.hlj-bg-light3{
  background-color: $hlj-light3;
}



