.headBox {
  height: 60px;
  border-bottom: 1px solid #eeeeee;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.headBox_logo {
  width: 200px;
  height: 60px;
  background: #fff;
  position: relative;
  display: block;
  box-shadow: 2px -8px 20px 0px rgba(139, 157, 175, 0.2);
}
.logo {
  background: url('http://qnm.hunliji.com/o_1c0ncqfa91oel1pmr1fh61lrk1e5v7.png')
    no-repeat 0 0;
  background-size: 100%;
  width: 144px;
  height: 21px;
  position: absolute;
  left: 20px;
  top: 19px;
  bottom: auto;
}
.headBox_right {
  position: absolute;
  top: 0;
  right: 40px;
  height: 60px;
  img {
    vertical-align: middle;
  }
  :global {
    .ant-menu-horizontal {
      border: 0;
    }
    .ant-menu {
      line-height: 56px;
      color: #5a6580;
      font-size: 14px;
    }
    .ant-menu-horizontal > .ant-menu-item,
    .ant-menu-horizontal > .ant-menu-submenu {
      border-bottom: 0;
    }
    .ant-menu-horizontal > .ant-menu-item-active,
    .ant-menu-horizontal > .ant-menu-item:hover {
      border-bottom: 0;
    }
    .ant-menu-horizontal > .ant-menu-item-selected {
      color: #5a6580;
    }
    .ant-menu-vertical .ant-menu-item {
      height: auto;
      overflow: auto;
    }
    .ant-menu-item-selected,
    .ant-menu-horizontal > .ant-menu-item-selected > a {
      color: #5a6580;
    }
    .ant-menu-item-selected > a {
      color: #5a6580;
    }
    .ant-menu-item,
    .ant-menu-submenu-title {
      padding: 0 14px;
      div {
        display: inline-block;
        .userHead {
          border-radius: 50%;
        }
        i {
          content: '';
          background: url('http://qnm.hunliji.com/o_1c0nstd0nb5f1ag8ldci8drs3h.png')
            no-repeat 0 0;
          width: 10px;
          height: 6px;
          display: block;
          position: absolute;
          right: -13px;
          top: 45%;
        }
      }
    }
    .ant-menu-item,
    .ant-menu-submenu-title[aria-expanded='true'] {
      div {
        i {
          transform: rotate(180deg);
        }
      }
    }
    .ant-menu-submenu-horizontal > .ant-menu {
      text-align: center;
      min-width: 150%;
    }
  }
  .qrCode {
    padding: 16px 16px 0;
    color: #666;
    font-size: 14px;
    top: 50px;

    p {
      font-size: 12px;
      text-align: center;
    }
  }
}
