@import "../cssVar/index.css";

.ant-btn{
  border-radius:2px;
}
.ant-btn{
  border-color:$hlj-blue1;
  color:$hlj-blue1;
  font-size:14px;
  height:32px;
}
.ant-btn-primary{
  background-color: $hlj-blue1;
  color:#fff
}
.ant-btn-primary:focus,.ant-btn-primary:hover{
  background-color:$hlj-blue1;
  color:#fff;
}