@import "../cssVar/index.css";

.ant-input{
  font-size: $hlj-font-size;
}
.ant-menu-submenu-title >span{
  font-size: $hlj-font-size;
}
.ant-menu-item{
  font-size: $hlj-font-size;
  &>a{
    font-size: $hlj-font-size;
  }
}
.ant-table{
  font-size: $hlj-font-size;
}
.ant-select{
  font-size: $hlj-font-size;
}
.label{
  font-size: $hlj-font-size;
}
.ant-form-item-label{
  label{
    font-size: $hlj-font-size;
  }
}