@import "../cssVar/index.css";

.ant-radio-wrapper span{
  color:$hlj-black3;
  font-size:14px;
}
.ant-radio-group,.ant-radio-wrapper{
  font-size:14px;
}
.ant-checkbox-group,.ant-checkbox-wrapper{
  font-size:14px;
}